<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./includes/head.ejs")  %> 
</head>
<body>
    <%- include("./includes/header.ejs")  %> 
    <section class="FormFill">
        <h1 class="FormFill_title"><%= locals.formData?.name %> </h1>
        <div class="FormFill_wrapper">
            <% locals.questions?.forEach(question => { %>
                <div class="FormFill_Question">
                    <h3 class="Question_title"><%= question.value %></h3>
                    <input 
                        class="Question_answer" 
                        type="<%= question.type %>" 
                        id="questionAnswer-<%= question.order %>" 
                        name="questionAnswer-<%= question.order %>"
                    >
                </div>
            <% }) %>
        </div>
    </section>
    <%- include("./includes/footer.ejs")  %> 
</body>
</html>