<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./includes/head.ejs")  %> 
</head>
<body>
    <%- include("./includes/header.ejs")  %> 
    <section class="Forms">
        <h1 class="Forms_mainTitle">Formularios Disponibles:</h1>
        <% for(const form of locals.forms) { %>
            <a href="/forms/<%=form.id%> " class="Form">
                <h4 class="Form_title"><%=form.name%></h4>
                <p class="Form_description">
                    <strong>Descripción:</strong> <%=form.description%>
                </p>
                <span class="Form_author"><strong>Autor:</strong> <%=form.author%></span>
            </a>
        <% } %>
    </section>
    <%- include("./includes/footer.ejs")  %> 
</body>
</html>